
body{
    display: grid;
    justify-content: center;
    background-color: antiquewhite;

}

.initbody{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}


h1{
    color: rgb(234, 42, 42);
    margin-bottom: 0px; 
    font-size: 50px;

}

table{ 
    border: 2px solid;
    border-collapse: collapse;


}
td{
      border: 1px solid;  
      min-width: 10px;
}


th{
    border: 1px solid;
    background-color: rgb(249, 249, 171);
}
th.left{
    text-align: left;
    border: 1px solid;
    background-color: rgb(249, 249, 171);
}



.container{
    display: flex;
    gap: 38%;
    flex-direction: row;



}
.failed{
    background-color: rgb(248, 183, 183);
    color: red;
}


/*
.blur-bg{
    backdrop-filter: blur(100px);

    -webkit-backdrop-filter: blur(100px);


}
    */


.article1 ~ div{  

    background-color: aqua;

}





header > div ~ button:focus{
    background-color: aquamarine;
}

/*
.my-list > :first-child{
    background-color: rgb(7, 200, 249);
}

.my-list > :last-child{
    background-color: rgb(119, 238, 130);
}
    */


.my-list > :nth-child(odd){
    background-color: rgb(119, 238, 130);
}
.my-list >:nth-child(even):not(nth-child(4n)){
    background-color: rgba(8, 202, 251, 0.667);
}

div div div:not(.fancy){
    
    background-color: red;
}

.card{
    background-color: rgb(122, 237, 255);
    padding: 4px;
    
}
.card:has(>img){
    background-color: rgb(73, 203, 255);
    padding: 80px;
    
}

.card:has(>span){
    background-color: rgb(9, 88, 119);
    padding: 120px;
    
}