html, body {
  height: 100%;
  overflow: auto; /* Keep scroll functionality */

  /* Hide scrollbar for modern browsers */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* Internet Explorer and old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


body {

  scrollbar-width: none;  
}



.boximg {
  width: 15vw; /* width changes with viewport width */
  height: calc(100vw - 1vw * 85); /* height increases as width decreases */
  transition: all 0.3s ease;
  border-radius: 60px;
  margin: 0px;

}

.box {
  width: 50vw; /* width changes with viewport width */
  height: calc(100vw - 1vw * 35); /* height increases as width decreases */
  background: skyblue;
  transition: all 0.3s ease;
  max-height: 50vh;
  padding-right: 10px;
}






button.bold{
    font-size: 18px;
    font-weight: 650;
}

.adjfont{
    font-size: 0.9em;

}


hr{
    margin-top: 0px;
}
.gnum{
    background-color: greenyellow;
    width: 100px; 
    height:50px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

}

button:hover{
  opacity: 80%;

}
