

*{
padding: 0px;
margin: 0px;

}
.container{
    background-color: antiquewhite;
    display: grid;
    justify-self: center;
    width: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 50px;
    gap: 30px;
    justify-content: center;
    

}

section{
    width: 350px;
}


button:hover{
    background-color: rgb(157, 239, 157);
}



button:active{
    background-color: rgb(111, 54, 192);
}

button:focus:not(:active){
    background-color: rgb(227, 94, 94);
}




a{
    text-decoration: none;
    color: rgb(26, 155, 220);
    
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active{
    color: black;
}


a:visited{
    color: rgb(165, 9, 157);
}



ul> :nth-child(odd){
    font-weight: 600;
    background-color: rgb(198, 202, 200);
}

ul> :nth-child(even){
    font-weight: 600;
    background-color: rgb(126, 128, 127);
}

ul> :first-child{
    font-weight: 600;
    background-color: aqua;
}

ul >  :last-child{
    font-style: italic;
    background-color: rgb(0, 162, 255);
}


input:not([type="radio"]):not([type="checkbox"]){
    height: 20px;
    width: 100%;

}


input[type="radio"],input[type="checkbox"]{
    height: 20px;
    width: 20px;

    
}


input[type="submit"]:focus,input[type="text"]:focus{
    border:none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: red;

}


input[type="radio"]:checked ~ label,
input[type="checkbox"]:checked ~ label {
    color: red;
    font-weight: bold;
}


input[type="radio"]:focus,input[type="checkbox"]:focus{
    height: 30px;
    width: 30px;
    
}


div:has(>p){
    background-color: red;
    color: white;
}





