.external-link::after{
    content: '(eternal)' ;
    color: red;

}

.profile{

background-color: green;

}

div:has(>p){
    background-color: red !important;
    color: black;
}



#container {
  display: grid;
  width: 90%;
  margin: auto;
  border: solid black 1px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  padding: 10px;
}
  
#container > div {
  aspect-ratio: 8 / 6;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.container{
    width: 400px;
    height: 200px;
    border: 3px solid black;
    padding: 3px;

}

.box1{
    background-color: rgb(58, 136, 204);
    color: aliceblue;
}
.box2{
    background-color: green;
    color: aliceblue;
}

.greeting{
    display: inline-block;
    background-color: aqua;
    height: 50px;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.header{
    font-size: 30px;
    padding: 0.5em;

}

.header li{
    font-size: 0.8em;

}
.header li a{
font-size: 0.6em;
    
}

.viewport{

    /* width: 50vw; */
    height: 40vh;
    height: calc(15.5rem - 10px);
}


.content{

    width: min(50vw ,350px);
    height: min(50vh ,350px);
    overflow: auto; 
    scrollbar-width: none;

 
}



.banner{
    background: #999999;
    
}







