body{

    background-color: rgb(217, 217, 217);

}

h1{

    text-align: center;
    font-size: 25px;
}
p{
    display: flex;
    justify-content: center;
    justify-self: center;

    font-size: 20px;
    border: 1px solid;
    width: 50%;


}

